USE [OCC]
GO
/****** Object:  StoredProcedure [dbo].[uspDT1aLeadershipBenchmark]    Script Date: 2/11/2022 4:54:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*===========================================================================================================
 DATE		DEV			DESC
 06/032012	Chi Dinh            Created.
                                Get the High, Median, and Low, and Subottal number of the Sr. Leadership 
                                for each of the Center Type (Basic, Clinical, and Comprehensive)

  Note: to calculate the median : get the middle value(s),  add them up and divide by 2.
  Param:  FY 
 
  11/04/2013 C. Dinh			Modified from sum4 to dt4.
  12/16/2010 Chi                Updated FY17, 18, and 19 data.
                                added the Subtotal Calculation for for basic, clinical, and comp 
								      the grand Total Calculation 
==========================================================================================================*/

ALTER PROCEDURE [dbo].[uspDT1aLeadershipBenchmark] 
@FY INT
AS
BEGIN

	DECLARE @Subtotal INT,
	        @CenterTypeID INT,
			@BasicCount INT,
	        @BasicHigh INT,
			@BasicLow INT,
			@BasicMedian FLOAT,
			@ClinicalCount Int,
			@ClinicalHigh int,
			@ClinicalLow int,
			@ClinicalMedian FLOAT,
			@CompCount Int,
			@CompHigh int,
			@CompLow int,
			@CompMedian FLOAT,
	        @curSubtotal CURSOR,
	        @rc1 INT, @rc2 INT, @rc3 INT,
	        @basicSubtotal    INT = 0, 
			@clinicalSubtotal INT = 0, 
			@compSubtotal     INT = 0,
			@grandTotal       INT = 0; 	    
/* 
(1)  ALWAYS backup 1st
     
Select *
into DT1aBenchmarkBU20220211
from DT1aBenchmark;

select * from DT1aBenchmark
order by FY;

--check the data from the original table (dt1aLeadership): 
-- UP to FY19 :-)
select fy, count(*)
 from dt1aLeadership
group by fy
order by fy;

(2) reset the PK:
select max(DT1aBenchMarkID) from DT1aBenchMark;
DBCC CHECKIDENT('DT1aBenchMark', RESEED, 10);

(3) get this from Nga:

Values (2011, 7, 19, 40);
Values (2012, 7, 19, 41);
Values (2013, 7, 20, 41);  

Values (2014, 7, 20, 41);
Huge change 
Values (2015, 7, 17, 45);
Values (2016, 7, 15, 47);


Values (2017, 7, 13, 49);
Values (2018, 7, 14, 49);  
Values (2019, 7, 13, 51);

Values (2020, 7, 13, 51);

Values (2021, 7, 13, 51);

UPDATE DT1aBenchmark
SET   ClinicalCount = 15,
      CompCount = 47
WHERE FY = 2016;

UPDATE DT1aBenchmark
SET   ClinicalCount = 13,
      CompCount = 49
WHERE FY = 2017;

UPDATE DT1aBenchmark
SET   ClinicalCount = 13,
      CompCount = 51
WHERE FY = 2019;


(4) get  number of leaders for (1) Basic, (2) Clinical, and (3) Comprehensive Centers:
    
		 INSERT INTO DT1aBenchmark (FY, BasicCount, ClinicalCount, CompCount)
		 Values (2017, 7, 17, 45);

		 INSERT INTO DT1aBenchmark (FY, BasicCount, ClinicalCount, CompCount)
		 Values (2018, 7, 14, 49);
		 
		 INSERT INTO DT1aBenchmark (FY, BasicCount, ClinicalCount, CompCount)
		 Values (2019, 7, 14, 49);

		 
		 
		 INSERT INTO DT1aBenchmark (FY, BasicCount, ClinicalCount, CompCount)
		 Values (2020, 7, 13, 51);



	
select * from DT1aBenchmark
order by FY;					
*/	

	--================ get high/MAX numbers of leaders============================
	UPDATE DT1aBenchMark
	
	SET BasicHigh = (SELECT  MAX(cnt)  as DT1aMaxBasic
					 FROM ( SELECT c.CenterTypeID, s.GrantNumber,  COUNT(s.GrantNumber) AS CNT
							FROM   dt1aLeadership s,
								   Center c
							WHERE  s.centerID     = c.CenterID
							AND    c.CenterTypeID = 1 --basic
							AND    c.isActive     = 1
							AND    s.FY           = @FY
							GROUP BY c.CenterTypeID, s.GrantNumber
							) sys)
	WHERE FY = @FY;
	
		UPDATE DT1aBenchMark
		SET ClinicalHigh = (SELECT  MAX(cnt)  as DT1aMaxClinical
							FROM 
							   (SELECT c.CenterTypeID, s.GrantNumber,  COUNT(s.GrantNumber) AS CNT
								FROM   dt1aLeadership s,
									   Center c
								WHERE  s.centerID     = c.CenterID
								AND    c.CenterTypeID = 2 --clinidal
								AND    c.isActive     = 1
								AND    s.FY           = @FY
								GROUP BY c.CenterTypeID, s.GrantNumber
								)       sys )
        WHERE FY = @FY;
        
		UPDATE DT1aBenchMark
		SET CompHigh = (SELECT  MAX(cnt)  as DT1aMaxClinical
					    FROM 
							(SELECT c.CenterTypeID, s.GrantNumber,  COUNT(s.GrantNumber) AS CNT
						     FROM   dt1aLeadership s,
									   Center c
							 WHERE  s.centerID     = c.CenterID
							 AND    c.CenterTypeID = 3 --comp
							 AND    c.isActive     = 1
							 AND    s.FY           = @FY
							 GROUP BY c.CenterTypeID, s.GrantNumber
							 )
					    sys)
	  WHERE FY = @FY;

--================get low/MIN numbers of leaders==========================

		UPDATE DT1aBenchMark
		SET BasicLow = (SELECT  MIN(cnt)  
						FROM 
						(	SELECT c.CenterTypeID, s.GrantNumber,  COUNT(s.GrantNumber) AS CNT
							FROM   dt1aLeadership s,
								   Center c
							WHERE  s.centerID     = c.CenterID
							AND    c.CenterTypeID = 1
							AND    c.isActive     = 1
							AND    s.FY           = @FY
							GROUP BY c.CenterTypeID, s.GrantNumber
							) sys)
        WHERE FY = @FY;
        
		UPDATE DT1aBenchMark
		SET ClinicalLow = (SELECT  MIN(cnt)  
						FROM 
						(	SELECT c.CenterTypeID, s.GrantNumber,  COUNT(s.GrantNumber) AS CNT
							FROM   dt1aLeadership s,
								   Center c
							WHERE  s.centerID     = c.CenterID
							AND    c.CenterTypeID = 2
							AND    c.isActive     = 1
							AND    s.FY           = @FY
							GROUP BY c.CenterTypeID, s.GrantNumber
							) sys)
		WHERE FY = @FY;
							
		UPDATE DT1aBenchMark
		SET CompLow = (SELECT  MIN(cnt)  
						FROM 
						(	SELECT c.CenterTypeID, s.GrantNumber,  COUNT(s.GrantNumber) AS CNT
							FROM   dt1aLeadership s,
								   Center c
							WHERE  s.centerID     = c.CenterID
							AND    c.CenterTypeID = 3
							AND    c.isActive     = 1
							AND    s.FY           = @FY
							GROUP BY c.CenterTypeID, s.GrantNumber
							) sys)
		WHERE FY = @FY;
		
		--========= Get the median number of the Sr. Leaders=====================
	    -- Basic Median
		SELECT @BasicCount=COUNT(*) 
		FROM (  SELECT s.GrantNumber,COUNT(s.GrantNumber) AS IDCount 
				FROM   dt1aLeadership s,
					   Center c
				WHERE  s.centerID     = c.CenterID
				AND    c.CenterTypeID = 1
				AND    c.isActive     = 1
				AND    s.FY           = @FY
				GROUP BY s.GrantNumber
				)AB
		SELECT @BasicMedian=(SUM(Convert(float,IDCount))/2) 
		FROM(SELECT s.GrantNumber,COUNT(s.GrantNumber)AS IDCount,ROW_NUMBER() OVER(ORDER BY COUNT(s.GrantNumber))AS ROW 
		FROM   dt1aLeadership s,
			   Center c
		WHERE  s.centerID     = c.CenterID
		AND    c.CenterTypeID = 1
		AND    c.isActive     = 1
		AND    s.FY           = @FY
		GROUP BY s.GrantNumber)AB
		WHERE AB.Row IN ((@BasicCount/2),(@BasicCount/2)+1)

		UPDATE DT1aBenchMark
		SET BasicMedian = (SELECT CEILING(@BasicMedian))
		WHERE FY = @FY;
		    
		--Clinical Median
		SELECT @ClinicalCount=COUNT(*) 
		FROM (  SELECT s.GrantNumber,COUNT(s.GrantNumber) AS IDCount 
				FROM   dt1aLeadership s,
					   Center c
				WHERE  s.centerID     = c.CenterID
				AND    c.CenterTypeID = 2
				AND    c.isActive     = 1
				AND    s.FY           = @FY
				GROUP BY s.GrantNumber
				)AB
		SELECT @ClinicalMedian=(SUM(Convert(float,IDCount))/2) 
		FROM(SELECT s.GrantNumber,COUNT(s.GrantNumber)AS IDCount,ROW_NUMBER() OVER(ORDER BY COUNT(s.GrantNumber))AS ROW 
		FROM   dt1aLeadership s,
			   Center c
		WHERE  s.centerID     = c.CenterID
		AND    c.CenterTypeID = 2
		AND    c.isActive     = 1
		AND    s.FY           = @FY
		GROUP BY s.GrantNumber)AB
		WHERE AB.Row IN ((@ClinicalCount/2),(@ClinicalCount/2)+1)

		UPDATE DT1aBenchMark
		SET ClinicalMedian = (SELECT CEILING(@ClinicalMedian))	   
		WHERE FY = @FY;

       -- for Comp Median
		SELECT @CompCount=COUNT(*) 
		FROM (  SELECT s.GrantNumber,COUNT(s.GrantNumber) AS IDCount 
				FROM   dt1aLeadership s,
					   Center c
				WHERE  s.centerID     = c.CenterID
				AND    c.CenterTypeID = 3
				AND    c.isActive     = 1
				AND    s.FY           = @FY
				GROUP BY s.GrantNumber
				)AB
		SELECT @CompMedian=(SUM(Convert(float,IDCount))/2) 
		FROM(SELECT s.GrantNumber,COUNT(s.GrantNumber)AS IDCount,ROW_NUMBER() OVER(ORDER BY COUNT(s.GrantNumber))AS ROW 
		FROM   dt1aLeadership s,
			   Center c
		WHERE  s.centerID     = c.CenterID
		AND    c.CenterTypeID = 3
		AND    c.isActive     = 1
		AND    s.FY           = @FY
		GROUP BY s.GrantNumber)AB
		WHERE AB.Row IN ((@CompCount/2),(@CompCount/2)+1)

		UPDATE DT1aBenchMark
		SET CompMedian = (SELECT CEILING(@CompMedian))   
		WHERE FY = @FY;
		--========= Get the Subtotal for Basic, Clinical and Comp ==========================================
       
		select  @basicSubtotal = SubTotal
		                         from 
								(SELECT  COUNT(*) as SubTotal 
								 FROM    dt1aLeadership s,
										 Center c
								 WHERE   s.centerID     = c.CenterID
								 AND     c.CenterTypeID = 1 --basic
								 and     c.isActive     = 1
								 AND     s.FY             = @FY) XX; 
     
		print 'basicSubtotal' + CONVERT(VARCHAR(10), @basicSubtotal);

		UPDATE DT1aBenchmark
		SET    BasicSubtotal = @basicSubtotal
		WHERE FY = @FY; 

		
		select  @clinicalSubtotal = SubTotal
		                         from 
								(SELECT  COUNT(*) as SubTotal 
								 FROM    dt1aLeadership s,
										 Center c
								 WHERE   s.centerID     = c.CenterID
								 AND     c.CenterTypeID = 2 --clinical
								 and     c.isActive     = 1
								 AND     s.FY           = @FY) XX; 
     
		print 'clinicalSubtotal ' + CONVERT(VARCHAR(10),@clinicalSubtotal);

		UPDATE DT1aBenchmark
		SET    ClinicalSubtotal = @clinicalSubtotal
		WHERE FY = @FY;

		select  @compSubtotal = SubTotal
		                         from 
								(SELECT  COUNT(*) as SubTotal 
								 FROM    dt1aLeadership s,
										 Center c
								 WHERE   s.centerID     = c.CenterID
								 AND     c.CenterTypeID = 3 -- comp
								 AND     c.isActive     = 1
								 AND     s.FY           = @FY) XX; 
     
		print 'compSubtotal ' + CONVERT(VARCHAR(10),@compSubtotal);

		UPDATE DT1aBenchmark
		SET    CompSubtotal = @compSubtotal
		WHERE FY = @FY;
--========= Get a grand ToTal  ===================================================================

	   
	   SET    @grandTotal = @basicSubtotal + @clinicalSubtotal + @compSubtotal 
	   
	   UPDATE DT1aBenchmark
	   SET    Total = @grandTotal
       WHERE  FY    = @FY;
	   print 'total ' + CONVERT(VARCHAR(10), @grandTotal);

END


